<ion-tabs> <!--Los tabs tiene la particularidad de que no tienen heder como una pagina normal, solo tiene un ion-tabs-->
  <ion-tab-bar>  <!--Indicamos que pondra una barra de tabs para desplazarnos entre paginas-->
    <ion-tab-button tab="localizado"> <!---->
      <ion-icon name="locate"></ion-icon>
      <ion-label>Localizado</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lampara">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Lampara</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>